* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
    background-color: #000;
    color: #fff;
}

.header {
    height: 250px;
    padding: 16px;
    background-image: url('../images/header.jpg');
    background-position: center;
    background-size: cover;
}

.header h1 {
    text-align: center;
    text-transform: uppercase;
}

.navigation {
    display: flex;
}

.navigation__item,
.navigation__label {
    padding: 0 32px;
    color: #fff;
    line-height: 3rem;
    text-decoration: none;
    border-bottom: 5px solid transparent;
}

.navigation__item:hover,
.navigation__item.active {
    background-color: #0F0D0E;
    border-bottom-color: #FF7474;
}

.sidebar {
    width: 25%;
    padding: 32px;
    float: left;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 75%;
    border-left: 1px solid #222222;
 }

.card {
    width: 45%;
    height: fit-content;
    margin-bottom: 32px;
    background-color: #222222;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.25s, transform 0.25s;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #777;
    transform: translateY(-0.25em);
}

.card__header {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.card__header img {
    width: 100%;
}

.card__header small {
    position: absolute;
    left: 16px;
    bottom: 16px;
    color: #FF7474;
    text-shadow: 1px 1px 4px rgba(255,253,236,0.7);
    font-weight: 900;
}

.card__header h2 {
    position: absolute;
    left: 16px;
    bottom: 32px;
    -webkit-text-stroke: 0.05rem rgba(0,0,0,.5);
    font-weight: 900;
}

.card__content {
     padding: 16px
}

.card__content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    padding: 32px;
    background-color: #221F20;
    color: white;
    text-align: center;
}
